<%= link_to "create article", articles_new_path%>

<div class="container">

<% @articles.each do |article| %>
  <article class="mb-3">
    <h2><%= link_to article.title, article_path(article) %></h2>
    <% trim = article.content.lines.first%>
    <%=trim = trim[0...-4] + "..."%>
    </article>
  <% end %>
</div>
